{erl_opts, [debug_info]}.
{deps, []}.

%%============= rebar3 shell settings ================
{shell, [
    {config, "config/sys.config"},
    {apps, [gol]}
]}.
%% Do NOT forget run epmd
%%{dist_node, [
%%    {setcookie, 'gol_cookie'},
%%    {name, 'gol@127.0.0.1'}
%%]}.
%%====================================================

%%============= rebar3 release settings ==============
{relx, [
    {release, {gol, "0.0.1"}, [gol]},
    {dev_mode, true},
    {include_erts, false},
    {system_libs, false},
    {include_src, false},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"}
]}.
{profiles, [
    {prod, [{relx, [{dev_mode, false},
        {sys_config, "config/sys-prod.config"},
        {vm_args, "config/vm-prod.args"}
    ]}]}
]}.
%%====================================================

{minimum_otp_vsn, "18.1"}.
