%%[
%%    {gol, [
%%        {field, #{rows => 10, cols => 10, layers => 1}}, %% @todo add support of length for 3D
%%        {timeline, 1000}, %% 1000 | -1
%%        {life_rule, {
%%            [3], %% Any dead cell with three live neighbors becomes a live cell.
%%            [2,3] %% Any dead cell with three live neighbors becomes a live cell.
%%        }},
%%        {seed,
%%%%            [{2,2}, {2,3}, {2,4}] %% Oscillators
%%            [{2,3}, {3,4}, {4,2}, {4,3}, {4,4}] %% Glider
%%        },
%%        {cycle_count, 10},
%%        {gui, true} %% Show changes on gui field or just run simulation and take last result
%%    ]}
%%].
[
    {gol, [
        {field, #{rows => 100, cols => 100, layers => 1}}, %% @todo add support of length for 3D
        {timeline, 0}, %% 1000 | -1
        {life_rule, {
            [3], %% Any dead cell with three live neighbors becomes a live cell.
            [2,3] %% Any dead cell with three live neighbors becomes a live cell.
        }},
        {seed,
%%            [{2,2}, {2,3}, {2,4}] %% Oscillators
            [{2,3}, {3,4}, {4,2}, {4,3}, {4,4}] %% Glider
        },
        {cycle_count, 10},
        {gui, true} %% Show changes on gui field or just run simulation and take last result
    ]}
].
